include header.jade
                    p='Words found:'+words.length
                    -for(var i = 0; i < words.length; i++)
                        a(href="https://www.google.com/search?q=define "+words[i] target="_blank")=words[i]
                    include footer.jade